@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@media (max-width: 640px) {
  .About_Me {
    max-height: 770px;
  }
  .SD_MainAS {
    max-height: 750px;
    max-width: 100%;
  }
  .SD_Contents {
    margin-left: 30px;
    margin-top: 30px;
  }
  .SD_About {
    font-size: 30px;
  }
  .SD_Name {
    margin-top: 2px;
    font-size: 25px;
  }
  .SD_Sub {
    width: 90%;
    font-size: 13px;
    text-align: justify;
  }
  .SD_Points {
    padding: auto;
    margin: auto;
    margin-top: 15px;
    justify-content: space-between;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
  }
  .SD_Add {
    width: 100%;
    margin-top: 25px;
  }
  .Image_Records:hover .Img_Rec {
    transform: scale(1.05);
  }
  .Container_Design {
    display: none;
  }
  .Achievements {
    display: block;
  }
  .Popup_Container {
    flex-wrap: wrap;
  }
  .PopupContainer {
    width: 95%;
  }
  .ClickHereM {
    display: block;
  }
}

.Button {
  background-color: transparent; /* Ensure the background is transparent */
  border: none; /* Remove default border */
  box-shadow: none; /* Remove default shadow */
  transition: box-shadow 0.3s ease-in-out;
}

/* Define initial state of .Img_Rec */
.Img_Rec {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

/* Apply hover effect directly on .Img_Rec */
.Image_Records:hover .Img_Rec {
  transform: scale(1.005);
}

/* Custom styles to center the modal */
.ModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure modal takes full height of viewport */
}

.Img_Model_Container {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.Img_Model_Container:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.ClickHere {
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  font-style: normal;
}
/* .ClickHere {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style: normal;
} */
