@media (max-width: 640px) {
  .Main {
    height: 620px;
    width: 100%;
    padding: 0 0px; /* Added padding to prevent content touching the edges */
  }

  .Main_Img {
    overflow: visible;
    margin-top: -60px;
  }
  .Bg_Main {
    min-width: 230%;
    margin-left: -220px;
    min-height: 680px;
  }

  .Main_Name {
    min-width: 150%;
    max-width: 150%;
    font-size: 40px;
    font-weight: bolder;
    line-height: 40px;
    margin-top: 30px;
    margin-left: -100px; /* Adjusted margin for better alignment */
  }

  .Sub_Name {
    min-width: 65%;
    max-width: 65%;
    margin-left: -100px; /* Adjusted margin for better alignment */
    font-size: 12px;
  }

  .Get_Started {
    margin-left: -100px; /* Adjusted margin for better alignment */
  }
  .Main_Over {
    margin-top: -760px;
  }
  .Design_Main {
    margin-top: 350px;
    margin-left: 35px;
    width: 155px;
  }

  .Design_Main img {
    width: 10px;
    height: 10px;
  }

  .Main_Quote {
    font-size: 10px;
    margin-left: 50px; /* Adjusted margin for better alignment */
    margin-top: -300px;
  }

  .Success {
    margin-top: -269.5px;
    width: 330px;
    margin-left: 34px; /* Adjusted margin for better alignment */
    font-size: 12px;
  }

  .Success_Main {
    gap: 20px;
    width: 100%;
    margin: -10px -20px;
  }

  .Font_Main {
    font-size: 10px;
  }

  .Font_Main b {
    font-size: 15px;
  }
}

@media (min-width: 641px) {
  /* Styles for larger screens can be added here if needed */
}
