@media (max-width: 640px) {
  .Main {
    height: 620px;
    width: 100%;
    padding: 0 0px; /* Added padding to prevent content touching the edges */
  }

  .Main_Img {
    overflow: hidden;
    margin-top: 0px;
    height: 620px;
  }
  .Bg_Main {
    min-width: 230%;
    min-height: 620px;
    margin-left: -200px;
  }

  .Main_Name {
    min-width: 150%;
    max-width: 150%;
    font-size: 40px;
    font-weight: bolder;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 0px;
  }

  .Sub_Name {
    min-width: 60%;
    max-width: 60%;
    margin-left: 0px;
    font-size: 12px;
  }

  .Get_Started {
    margin-left: 0px;
  }
  .Main_Over {
    top: 620px;
    margin-left: 30px;
  }
  .Design_Main {
    margin-top: 350px;
    position: absolute;
    right: 270px;
    width: 165px;
    justify-content: space-around;
  }

  .Design_Main img {
    width: 10px;
    height: 10px;
  }

  .Main_Quote {
    font-size: 10px;
    margin-left: -150px; /* Adjusted margin for better alignment */
    margin-top: -300px;
    bottom: 130px;
  }

  .Success {
    bottom: 0;
    width: 330px;
    font-size: 12px;
    position: absolute;
    right: 0; /* Align to the right side */
  }

  .Success_Main {
    gap: 20px;
    width: 100%;
    margin: -10px -20px;
  }

  .Font_Main {
    font-size: 10px;
  }

  .Font_Main b {
    font-size: 15px;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .Main_Quote {
    font-size: 12px;
    left: 270px;
    bottom: 140px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Main {
    height: 620px;
    width: 100%;
    padding: 0 0px; /* Added padding to prevent content touching the edges */
  }

  .Main_Img {
    overflow: hidden;
    margin-top: 0px;
    height: 620px;
  }
  .Bg_Main {
    min-width: 230%;
    min-height: 620px;
    margin-left: -500px;
  }

  .Main_Name {
    min-width: 150%;
    max-width: 150%;
    font-size: 73px;
    font-weight: bolder;
    line-height: 60px;
    margin-top: 120px;
    margin-left: 60px;
  }

  .Sub_Name {
    min-width: 70%;
    max-width: 70%;
    margin-left: 60px;
    font-size: 12.5px;
  }

  .Get_Started {
    margin-left: 60px;
  }
  .Main_Over {
    top: 620px;
    margin-left: 30px;
  }
  .Design_Main {
    margin-top: 50px;
    position: absolute;
    right: -10%;
    width: 165px;
    justify-content: space-around;
  }

  .Design_Main img {
    width: 10px;
    height: 10px;
  }

  .Main_Quote {
    font-size: 12px;
    margin-left: -90px; /* Adjusted margin for better alignment */
    margin-top: -300px;
    bottom: 130px;
  }

  .Success {
    bottom: 0;
    width: 500px;
    position: absolute;
    right: 0;
  }

  .Success_Main {
    gap: 10px;
    width: 100%;
    margin: -10px -20px;
  }

  .Font_Main {
    font-size: 11px;
    min-width: 110px;
  }

  .Font_Main b {
    font-size: 20px;
  }
}
