@media (max-width: 640px) {
  .Value {
    margin-top: 0px;
  }
  .Value_Title {
    font-size: 45px;
    margin-left: 20px;
  }
  .Value_Main {
    width: 100%;
    margin-top: -210px;
    height: 1450px;
    scale: 1;
  }
  .Design_Image {
    display: none;
  }
  .Value_Containers {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .Value_Containers2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .Value_Div3 {
    margin-top: 0px;
  }


  .Value_Div1 span,
  .Value_Div2 span,
  .Value_Div3 span,
  .Value_Div5 span,
  .Value_Div4 span {
    font-size: 28px;
    padding-top: 8px;
  }

  .Value_Div1 span,
  .Value_Div2 span,
  .Value_Div3 span {
    width: 103%;
    position: absolute;
  }
  .Value_Div5 span,
  .Value_Div4 span {
    width: 103%;
    position: absolute;
  }
}
