@media (max-width: 640px) {
  .Form_MainC {
    justify-items: space-around;
    padding-left: 60px;
  }
  .Form_Title {
    font-size: 30px;
    margin-left: 0px;
  }
  .Form_Grid {
  }
  .Form_Grid_Boxes {
    margin-top: -15px;
  }
  .Grid_Inputs {
    max-width: 90%;
    margin-left: 0px;
  }
  .Form_Button {
    margin-top: 15px;
  }
}
