@media (max-width: 640px) {
  .Form_Main {
    min-width: 100%;
    height: 855px;
    margin-left: 12px;
    margin-top: -10px;
  }
  .Form_Title {
    font-size: 30px;
    margin-left: -40px;
  }
  .Form_Grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-width: 128%;
    margin: auto -40px auto -40px;
  }
  .Form_Button {
    margin-top: 15px;
    margin-left: -40px;
  }
}
